*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  border: 1px solid red;
  /* height: 100vh; */
}

.nav-links{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.nav-links a{
  text-decoration: none;
}

.news-feed-container{

}

.currency-conversion-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height:100vh;
  border: 3px solid green;
}

.conversion-calculator{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
  height: 25%;
  border-radius: 25px;  
}

.exchange-rate-container{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
  height: 50;
  border-radius: 25px; 
}